.board-preview {
  margin-bottom: 100px;

  &:hover {
    opacity: 0.8;
  }

  .board-title {
    font-size: rem(55px);
    font-weight: 400;
    margin: 15px 0px;
  }

  .board-description {
    font-size: rem(16px);
    line-height: 1.5;
    margin-bottom: 20px;
  }
}
