// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1200px;

// Colors
// MAIN COLOR:

$fontColor: #212121;
$mainColor: #007a7a;
$secondaryColor: #fa9f3d;
$bgcColor: #f7f7f7;

$warningColor: #ff0000;
$successColor: #008000;
