// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 950px;
$normal-breakpoint: 1400px;

// Colors
// MAIN COLOR:

$fontColor: #212121;
$secondaryColor: #c7c6c681;
$hoverColor: #19c3f3;

$mainColor: #007a7a;
$bgcColor: #f7f7f7;

$warningColor: #ff0000;
$successColor: #008000;
